.snakemake
**/__pycache__
node_modules
package.json
package-lock.json

logs/
benchmarks/
results/
slurm-*
reporting/
**/.ipynb_checkpoints

# Ignore custom profiles
profiles/custom
my_profiles/

# Compare
compare/

# Ignore datasets
data/public*
data/sars-cov-2*
data/canada*
data/requests*
data/custom*
data/X*
data/proposed*

# all-contributors and yarn
yarn.lock
