.snakemake
**/__pycache__
node_modules
package.json
package-lock.json

logs/
benchmarks/
results/
notebooks/
slurm-*
reporting/
**/.ipynb_checkpoints

# Ignore custom profiles
profiles/custom
my_profiles/

# Compare
compare/

# Ignore datasets
data/sars-cov-2*
data/canada*
data/requests*
data/custom*
data/X*
data/proposed*
data/*gisaid*
data/v*
data/full
data/misc

# all-contributors and yarn
yarn.lock
