.snakemake
**/__pycache__
node_modules
package.json
package-lock.json

logs/
benchmarks/
results/
slurm-*
reporting/

# Ignore custom profiles
profiles/custom
my_profiles/

# Ignore datasets
data/public*
data/sars-cov-2_*
data/canada*
data/requests*
data/custom*

# all-contributors and yarn
yarn.lock
